.main-container{
    margin-top: 2px;
    margin-bottom:2px;
  }
  
  .puntero{
    cursor: pointer;
  }
  
  
  .chat-window{
    padding: 10px;
    width: 350px;
    height: 405px;
    overflow: hidden;
    border: 1px solid #3a3b3b;
    border-radius: 20px;
    background-color: rgb(74, 78, 79);
 
    color: black;
    opacity:0.95
  }
  /*Scroll personalizado*/
  .app-mensajes::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(104, 103, 103);
   
    border-radius:5px;
  }
  
  
  .app-mensajes{
    overflow-y:auto ;
    height:250px;
    background: rgb(247, 243, 243); 
    border-radius:5px;
    padding: 0px;
    opacity:0.90;
  };
 
  
  
  
  /* Animaciones */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  